.git
.github
.kiro
.venv
venv
__pycache__
*.pyc
*.pyo
node_modules
reports
docs
tests
workflows
*.ipynb
*.md
.gitignore
.coveragerc
.DS_Store
__MACOSX
package.json
serverless.yml
requirements-dev.txt
requirements-test.txt
