# ignore all jupyter notebook checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints

# ignore virtual environment files
venv/
venv

# ignore pycache
__pycache__/
__pycache__

# ignore all .pyc files
*.pyc

# ignore all reports
reports/
reports

# ignore all logs
.coverage

# ignore node_modules
node_modules/
node_modules